{% extends 'layouts/default/base.html' %}

{% block content %}
{% load app_filters %}

<h1>{{ stock.name }}</h1>
<span class="badge badge-info">{{ stock.region.region }}</span>
{% for tag in stock.tags.all %}
<span class="badge badge-secondary">{{ tag.tag }}</span>
{% endfor %}
<h2>Stock data</h2>
<div class="mb-5" id="chart" style="width:100%; height:600px;"></div>
<h2>Calculated Filter</h2>
<div class="mb-5" id="filter_chart" style="width:100%; height:600px;"></div>
<h2>Calculated Signals</h2>
<div class="mb-5" id="signal_chart" style="width:100%; height:600px;"></div>
<h2>Income facts</h2>
<div class="mt-5">
    <ul class="nav nav-tabs" id="sheets" role="tablist">
        {% for data in jsondata %}
        <li class="nav-item">
            <a class="nav-link{% if forloop.counter == 1 %} active{% endif %}" data-toggle="tab" href="#{{ data.name }}" role="tab" aria-controls="{{ data.name }}">{{ data.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for data in jsondata %}
        <div class="tab-pane{% if forloop.counter == 1 %} active{% endif %}" id="{{ data.name }}" role="tabpanel">
           {{ data.data|safe }}
        </div>
        {% endfor %}
    </div>
</div>
<script>
$(function(){

});
</script>
<script>
$(function () {
    // tabs
    $('#sheets a:first').tab('show')
        // Create the chart
    Highcharts.stockChart('signal_chart', {
        title: {
            text: 'Signals'
        },
	    tooltip: {
	    	formatter: function() {
				var s = '<b>'+ Highcharts.dateFormat('%A, %b %e, %Y', this.x) +'</b>';

				$.each(this.points, function(i, point) {
					s += '<br/>' + this.series.name;
					s += '<br/>|_Value    : ' + point.point.y;
					s += '<br/>|_Status   : ' + point.point.status;
					s += '<br/>|_Parameter: ' + point.point.parameter;
				});

				return s;
			}
	    },
        legend: {
            enabled: true
        },

        plotOptions: {
            series: {
                showInNavigator: true
            }
        },

        yAxis: {
            title: {
                text: 'Earnings in percent'
            }
        },

        series: {{ signals_da|safe }}
    });

    Highcharts.stockChart('filter_chart', {

        title: {
            text: 'Filters'
        },
	    tooltip: {
	    	formatter: function() {
				var s = '<b>'+ Highcharts.dateFormat('%A, %b %e, %Y', this.x) +'</b>';

				$.each(this.points, function(i, point) {
					s += '<br/>' + this.series.name;
					s += '<br/>|_Value    : ' + point.point.y;
					s += '<br/>|_Status   : ' + point.point.status;
				});

				return s;
			}
	    },
        legend: {
            enabled: true
        },
        yAxis: {
            title: {
                text: 'Score'
            }
        },

        series: {{ filters_da|safe }}
    });
    // Create the chart
    Highcharts.stockChart('chart', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: '{{ stock.symbol }} Stock Price'
        },

        series: [{
            name: '{{ stock.symbol }}',
            data: {{ data }},
            tooltip: {
                valueDecimals: 2
            }
        }]
    });
});
</script>
{% endblock %}
